
{% extends 'base.html.twig' %}
{% block body %}
{% if visiteur== 'Modibo Camara' %}
<h1> Updating..... {{visiteur}} </h1>
{% else %}
<h1> Updating...... Nouveau utilisateur </h1>
{% endif %}
{% endblock %}